.container {
	background-color: #23B7FB;
	padding: 5% 0 100% 0;
}

h2 {
	text-align: center;
	font-family: 'Proxima Nova';
	font-size: 75px;
	color: #4e2b63;
}

li {
	font-size: 50px;
	color: #4e2b63;
	font-family: 'Covered By Your Grace';
	margin-left: 10%;
}

p {
	font-size: 30px;
	text-align: right;
	color: #4e2b63;
	font-family: 'Covered By Your Grace';
	padding-top: 30px;
	margin-right: 10%;
}

.buttons {
	font-family: 'Proxima Nova';
	font-size: 15px;
}

