// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: #23b7fb;
}

h1 {
	padding-top: 10%;
}

h2 {
	padding: 5% 0 5% 10%;
	font-size: 60px;
}

h3 {
	font-family: 'CoveredGrace';
	font-size: 30px;
}

a {
	color: white;
	font-family: 'CoveredGrace';
	font-size: 40px;
}

p {
	font-family: 'CoveredGrace';
	font-size: 25px;
	color: white;
}

.right-align {
	text-align: right;
	padding: 10% 10% 5% 0;
}

.body {
	padding-left: 10%;
}

.form {
	padding-right: 10%;
}

.options {
	padding-top: 5%;
}

.options li {
	display: inline;
}

#options-right-align {
	padding-left: 50%;
}

.welcome {
	text-align: center;
}

#padding-top {
	padding-top: 5%;
}

